@model QLSV.Models.Fresher

@{
    ViewData["Title"] = "Delete";
    var sadkjad = Model;
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fresher</h4>
    <hr />
    <dl class="row">
        <div class ="col-6"><dt >
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Room)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Employee.Room)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Adress)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Employee.Adress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Birth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Birth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Graduation_rank)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Graduation_rank)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Graduation_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Graduation_date)
        </dd></div>
        <div class="col-6">
            @await Component.InvokeAsync("CertificateDetail", new { employee = Model.Employee })
        </div>
    </dl>
    
    <form asp-action="DeleteFresher" asp-controller="Employees">
        <input type="hidden" asp-for="EmployeeID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
