@model QLSV.Models.Intern

<div>
    <h4>Intern</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Majors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Majors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.University_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.University_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InternId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
